# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# Django database and logs
*.log
db.sqlite3
db.sqlite3-journal

# IDEs
.vscode/
.idea/
